@media only screen and (max-width: 1000px){
    .containerCompartir{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 70px;
        column-gap: 30px;
        align-items: center;
        text-align: center;
      
        flex-direction: row;
        width: 50%;
        margin-left: 98px;
        }

        .tituloCompartir{
            margin-left: 5%;
            margin-bottom: 30px;
            margin-top: 50px;
            text-align: center;
        }        
    
    
    .imagenCompartir{
        width: 50px;
    }

    
}
.volver {
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
}
.indice {
    width: 10px;
}

@media only screen and (min-width: 1000px){
    .containerCompartir{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 120px;
        column-gap: 200px;
        align-items: center;
        text-align: center;
        
        }

        .tituloCompartir{
            margin-left: 30%;
            margin-bottom: 40px;
            margin-top: 30px;
        }
    
    
    .imagenCompartir{
        width: 300px;
    }

    
}