.ContenedorPortada {
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: absolute;
    // left: 50%;
    // top: 58%;
    // transform: translate(-50%, -42%);
    &__h1{margin-top: 60px;}
}

.imagenPortada {
height: 100%;
}