
.listaHeaderBarList{
    list-style-type: none;
     display: flex;
     flex-direction: column;
     display: inline-block;
}

.liHeaderBarList {
    text-decoration: none;
    
    
}

.imagenHeaderBarList{
    width: 30px;
}

.links{
    text-decoration: none;
}
