img.logo {
    margin: auto;
    display: block;
    margin-top: 70px;
    width: 20%;
    margin-bottom: 60px;
}
.owl-carousel .owl-item img {
    width: 232pt;
    height: 232pt;
    margin: auto;
    display: block;

}
.item1{
    width: 232pt;
    margin: auto;
    display: block;
}
.item2 {
    width: 232pt;
    height: 232pt;
    margin: auto;
    display: block;
}

.item3 {
    width: 232pt;
    height: 232pt;
    margin: auto;
    display: block;
}
.item4 {
    width: 232pt;
    height: 232pt;
    margin: auto;
    display: block;
}
p.title1 {
    font-size: 16pt;
    text-align: center;
    line-height: 26pt;
    letter-spacing: normal;
}
p.title2 {
    font-size: 16pt;
    text-align: center;
    line-height: 26pt;
    letter-spacing: normal;
}
p.title3 {
    font-size: 16pt;
    text-align: center;
    line-height: 26pt;
    letter-spacing: normal;;
}
p.title4 {
    font-size: 16pt;
    text-align: center;
    line-height: 26pt;
    letter-spacing: normal;
}
img.logo {
    margin: auto;
    display: block;
    margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #00BCD4;
    
}
button.siguiente {
    margin-left: 210px;
    background: white;
    border: white;
    font-size: 15px;
    justify-content: flex-end;
}
.saltar {
    color: black;
    margin-left: 20px;
    margin-top: 25px;
    text-decoration: none;
}
.owl-stage-outer {
    margin-bottom: 21px;
    margin-top: 10px;
}
.owl-stage {
    margin-bottom: 10px;
}