
.botones {
    margin-top: 50px;
    .button{
        text-decoration: none;
    }
}
.item1{
    width: 232px;
    margin: auto;
    display: block;
    margin-bottom: 40px;

    

  
    
}
.item2 {
    width: 232px;
    height: 232px;
    margin: auto;
    display: block;
    margin-bottom: 40px;
    
    p.title2 {
        font-size: 16px;
        text-align: center;
        line-height: 26px;
        letter-spacing: normal;
    }
}

.item3 {
    width: 232px;
    height: 232px;
    margin: auto;
    display: block;
    margin-bottom: 40px;

    p.title3 {
        font-size: 16px;
        text-align: center;
        line-height: 26px;
        letter-spacing: normal;;
    }
}
.item4 {
    width: 232px;
    height: 232px;
    margin: auto;
    display: block;
    margin-bottom: 40px;

    p.title4 {
        font-size: 16px;
        text-align: center;
        line-height: 26px;
        letter-spacing: normal;
    }
}

img.logo {
    margin: auto;
    display: block;
    width: 200px;
    /* margin-bottom: 20px; */
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .flecha{
        width: 10px;
    }
}
.slick-dots li button:before {
    content: '•';
  
    color: turquoise;
   
}
.slick-dots li button:next {
    content: '•';
  
    color: turquoise;
   
}
.slider-container {
    height: 100vh;
}
.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 90px;
}
p.title {
    font-size: 16px;
    text-align: center;
    line-height: 26pt;
    letter-spacing: normal;
    max-width: 400px;
    margin: auto;
    padding: 10px;
}