.gracias{
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: rgb(51, 154, 116);
    margin: 20px 0;
    width: 100%;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
.indice1{
    width: 30%;
}
.sonrisita{
    display: flex;
    justify-content: center;
}