$esmeralda : rgb(51, 154, 116);

.scanner-component {
    border: 6px solid $esmeralda;
    border-radius: 5px;

    video {
        display: block;
        width: 100%;
    }
}

.scan-icons {
    display: flex;
    justify-content: center;
    gap: 30px;

    &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        flex-direction: column;

        &-icon{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgb(189, 189, 189);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &--active {
                background-color:$esmeralda;
            }

            &__img {
                width: 20px;
            }
        }

        &__txt {
            font-size: 10px;
            max-width: 45px;
        }
    }
}

