.valoracion-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.titleh4{
font-size: 21px;
text-align: center;
letter-spacing: normal;
}

.titleh5{
font-size: 21px;
text-align: center;
letter-spacing: normal;
margin-bottom: 40px;
}

.sugerencias{
    text-decoration: none;
    text-align: center;
    color: turquoise;
}

.star{
    cursor: pointer;
    width: 25px;
}
input[type=radio]{
    display:none;
}
.estrellas {
        display: flex;
        justify-content: center;
        gap: 15px;
}
.volver {
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    top: 0;
}
.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo1 img {
    width: 232px;
}
a.escaneo {
    text-decoration: none;
}

.sugerencias1 {
    text-align: center;
    margin-top: 50px;
}
.indice{
    width: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.sugerencias {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: rgb(51, 154, 116);
    margin: 20px 0;
    width: 100%;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}