

@media only screen and (max-width: 1000px){
  .seccionPerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hola-perfil{
    margin-left: 5%;
    margin-top: 10px;
  }
  

    .imagen-inicio{
      width: 20px;
      padding-left: 4px;
    }

    .containerInicioTitulo{
      margin-top: 15px;
    }
    .Linkkinicio{
      display: flex;
      align-items: center;
    }
}


@media only screen and (min-width: 1000px){
  
  .hola-perfil{
    position: absolute;
    left: 40%;
  }
    .seccionPerfil{
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 200px;
    }
  
    .imagenProducto{
      width: 500px;
    }

    .containerTexto{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      font-size: 22px;
    }

    .imagen-inicio{
      width: 30px;
      padding-left: 4px;
    }

    .containerInicioTitulo{
      margin-top: 20px;
    }

    .Linkkinicio{
      display: flex;
      align-items: center;
    }
}