.containerTerminos{
    position: absolute;
    left: 15vw;
    right: 15vw;
}
.title1 {
    margin-top: 50px; ;
}
h2.title1 {
    margin-bottom: 20px;
    text-align: center;
}
h2.title2 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
h2.title3 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.parrafos{
        font-size: 16px;
        text-align: justify;
        line-height: 26px;
        letter-spacing: normal;
}