.lista-footer{
    display: flex;
    list-style-type: none;
    column-gap: 40px;
    flex-wrap: wrap;
    position: fixed;
    bottom: 20px;
    left: 10%;
    transform: translate(-10%);
}

.imagen-footer{
     width: 40px;
}